// Font
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
$Sen: "Sen", sans-serif;

// Colors
$primary-color: #f6b400;
$black-color: #1a2e35;
$gray-color: #5d5f64;
$green-color: #32fcbe;
$red-color: #fc3232;
$green-color-opacity: rgba(50, 252, 190, 0.1);
$red-color-opacity: rgba(252, 50, 50, 0.1);
$orange-color-opacity: rgba(246, 180, 0, 0.1);
